.idea/
bff/
aegis/
ds-datahandler/
ds-discover/
ds-image/
ds-license/
ds-present/
ds-storage/
kb-util/
ds-web/
ds-kaltura/
config-consumer/
ds-config/
ds-scheduling/
ds-shared/
ds-stream-resolver/
ds-test-automation/

*.iml
